@{
    ViewData["Title"] = "Home Page";
}

@model User

<div class="text-center">
    <h1>Wedding Planner App</h1>
    <!-- Registration Form -->
    <div class="row">
        <div class="col-sm-3">
            <h2>Register</h2>
            <form asp-action="Register" asp-controller="Home" method="POST">
                <div class="form-group">
                    <label asp-for="FirstName">First Name</label>
                    <input type="text" asp-for="FirstName" class="form-control">
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Last Name</label>
                    <input type="text" asp-for="LastName" class="form-control">
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input type="text" asp-for="Email" class="form-control">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" class="form-control">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Confirm">Confirm Password</label>
                    <input type="password" asp-for="Confirm" class="form-control">
                    <span asp-validation-for="Confirm"></span>
                </div>
                <div class="form-group">
                    <button type='submit' class="btn btn-success">Sign up Now!</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Login Form -->
    <div class="row">
        <div class="col-sm-3">
            <h2>Login</h2>
            <form asp-action="Login" asp-controller="Home" method="POST">
                <div class="form-group">
                    <div class="">
                        <label asp-for="Email">Email</label>
                        <input type="text" asp-for="Email" class="form-control">
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <label asp-for="Password">Password</label>
                        <input type="password" asp-for="Password" class="form-control">
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
